/* загальні стилі */
:root{
    --paragraph-color:#757575;
    --title-color:#212121;
    --background-color:#ffffff;
    --accent-color: #2196F3;
     --second-background-color:#2F303A;
}

body {
font-family:'Roboto','Raleway','sans-serif';
background-color:var(--background-color);
    color:var(--paragraph-color);
}

h1, h2, h3, h4, h5, h6 
{
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
        padding: 0;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   }

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    text-align: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    
}
/* h e a d e r */

.black-logo {
    color:#000000;
}

 .page-header {
  border-bottom: 1px solid #ECECEC;;
}

.first-logo {
    padding-top: 24px;
        padding-bottom: 25px;
}

.nav {
    font-weight: 500;
        font-size: 14px;
        line-height:calc(16/14);
        letter-spacing: 0.02em;
        color: #212121;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }

.nav.current {
    color: var(--accent-color);
}

.nav.contacts {
    color:var(--paragraph-color); 
}

.nav.contacts:hover,
.nav.contacts:focus {
    color: var(--accent-color);
}

.page-header {
    background-color: var(--background-color);
}

.header-nav.container {
   display: flex;
   align-items: center;
  
}

.nav-link.list {
    display: flex;
    margin-left: 93px;
}

.item-nav:not(:last-child) { 
    margin-right: 50px;
}

.header-contacts.list {
    display: flex;
    margin-left:auto ;
}


/* f o o t e r */

.white-logo {
    color: #ffffff;
}

.second-logo {
    margin-bottom: 20px;
}

.footer-section {
    background-color:var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.address-contacts:hover,
.address-contacts:focus {
    color: var(--accent-color);
}

.address.list .item:not(:last-child) {
    margin-bottom: 9px;
}

/* h e r o*/

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--second-background-color);
}

.hero {
   text-align: center;
  text-transform:uppercase;
  width: 696px;
        
}

.hero-title {
    color: #ffffff;
    font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        margin-bottom: 30px;

    
}
.hero-button {
    text-align: center;
    min-width: 200px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
}

/* f e a t u r e s */



.features-description.list {
    font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        display: flex;
           }

    .item-features {
        width: 270px;

    }

    .features-description .item-features + .item-features {
        margin-left: 30px;
    }

.features-title {
    font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: var(--title-color);
        margin-bottom: 10px;
}


/* o u r  p r o f i l e */

.profile-section {
    padding-top: 0px;
}

.first.section-title {
    margin-bottom: 50px;
    
}

.our-profile-list {
    display: flex;
    }

.item-profile {
            width: 370px;
        }

.our-profile-list .item-profile + .item-profile {
margin-left: 30px;
        }

/* o u r  t e a m */

.team-section {
    background-color: #F5F4FA;
}

.second.section-title {
    margin-bottom: 50px;
}

.team-list {
display: flex;
}

.item-team {
        font-size: 16px;
        line-height:calc(19/16);
        letter-spacing: 0.03em;
        color: var(--paragraph-color);
        text-align: center;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;

        width: 270px;
}

.team-list .item-team + .item-team {
    margin-left: 30px;
}

.team-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);

    margin-bottom: 10px;
   
}

/* P  O  R  T  F  O  L  I  O */

/* b u t t o n s */

.filter-list {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--title-color);

    border-radius: 4px;
    border: none;
    display: inline-block;
    padding: 6px 22px;
}
.filter:hover,
.filter:focus {
    background-color: #2196F3;
    color: #ffffff;
}

.current2 {
    background-color: #2196F3;
    color: #FFFFFF;
}

.item-filter:not(:last-child) {
margin-right: 8px;
}

/* c a r d s */

.project-link {
    font-size: 16px;
line-height:calc(30/16);
letter-spacing: 0.03em;
color: var(--paragraph-color);
text-decoration: none;

display: block;
}

.project-title {

    font-weight: 700;
    font-size: 18px;
    line-height:calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-color);

    margin-bottom: 4px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}
.item-project {
    width:370px;
    margin-right: 30px;  
}
.item-project:nth-child(3n) {
    margin-right: 0;
}
.item-project:not(:nth-child(-n+3)) {
    margin-top: 30px;
}


.project-card-description {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}